numpy
pandas
pyspellchecker
transformers
torch
scikit-learn
imbalanced-learn
optuna
lightgbm
xgboost
matplotlib
seaborn
tensorflow
joblib
ipywidgets
python-dotenv
googletrans==4.0.0-rc1
tqdm
Flask
flask-cors
customtkinter